<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @character.ethnicity %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @character.nationality %>
</p>

<p>
  <strong>Mother tongue:</strong>
  <%= @character.mother_tongue %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @character.occupation %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @character.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @character.firstname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
  <strong>Obsession:</strong>
  <%= @character.obsession %>
</p>

<p>
  <strong>Order alignment:</strong>
  <%= @character.order_alignment %>
</p>

<p>
  <strong>Secret language:</strong>
  <%= @character.secret_language %>
</p>

<p>
  <strong>Moral alignment:</strong>
  <%= @character.moral_alignment %>
</p>

<p>
  <strong>Eye colour:</strong>
  <%= @character.eye_colour %>
</p>

<p>
  <strong>Skin base tone:</strong>
  <%= @character.skin_base_tone %>
</p>

<p>
  <strong>Favourite food:</strong>
  <%= @character.favourite_food %>
</p>

<p>
  <strong>Favourite drink:</strong>
  <%= @character.favourite_drink %>
</p>

<p>
  <strong>Ailment:</strong>
  <%= @character.ailment %>
</p>

<p>
  <strong>Star sign:</strong>
  <%= @character.star_sign %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
